<body>
    <div class="col-12">
      <h4>About our restaurant</h4>
    </div>
  
    <div class="col-12 col-lg-8">
      <p>
        This is a multicuisine restaurant founded in the year 2021. Here, in our restaurant you will find special and unique dishes from all around the world,specializing in American,Indian, Nepalese and Vietnamese food. 
        The food is presented to you with care and love by our chef team recruited from all around the world. 
        Please enjoy your meal and if you enjoy our food and ambience, please rate us!
      </p>

    
  </div>
  <div class="col-6">
      Location
  </div>
  
  <!-- <section class="joinnow">
    <div class="col-12">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary col-lg-12">Log In</button>
          </form>

    </div>
</section> -->

</body>
